<!DOCTYPE html>

<html>
	<head>
		<title>Bluejay Voting!</title>
	</head>
	<body style="background-color:blue">
		<a style="font-size:32px;color:black;font-familty:Impact; text-align:center" href="http://127.0.0.1:8000/admin"><strong><em>Admin Login</em></strong></a>
		{% if questions %}
    		<ul style ="background-color:lightblue">
    			<lin></li>
    				{% for question in questions %}
        				<li><a href="/{{ question.id }}/;">{{ question.question_text }}</a></li>
    				{% endfor %}
    		</ul>
		{% else %}
    		<p>No polls are available.</p>
		{% endif %}
	</body>
</html>
