<!DOCTYPE html>

<html>
	<head>
		<title>Bluejay Voting!</title>
	</head>
	<body style="background-color:blue">
		<a style="font-size:32px;color:black;font-familty:Impact; text-align:center" href="admin"><strong><em>Admin Login</em></strong></a>
		{% if questions %}
    		<ul style ="background-color:lightblue">
    			<lin></li>
    				{% for question in questions %}
        				<li><a href="{{ question.id }}">{{ question.question_text }}</a></li>
    				{% endfor %}
    		</ul>
		{% else %}
    		<p>No polls are available.</p>
		{% endif %}
		{% if not user.is_authenticated %}
			<form action="{% url 'logon_page' %}" method="post">
				{% csrf_token %}
			 		   <input type="text" name="username" id="username" 	value="zip" />
						 <input type='password' name='password' id='password' value='' />
				<input type="submit" value="login" />
			</form>
			{% else %}
			<a href="{% url 'logout' %}">logout!</a>


		{% endif %}
	</body>
</html>
